/**
 * @name Blue Night
 * @author Marshal
 * @version 1.0.4
 * @description A cozy theme I made for myself.
 * @authorId 1365832318555521136
 * @source https://github.com/pomfq/BetterDiscord-stuff/tree/main/Themes/BlueNight/
*/

@import url(https://pomfq.github.io/BetterDiscord-stuff/Themes/BlueNight/Blue-Night.theme.css);

:root{

    /* Background Settings */

    --bg-primary- : rgb(17, 18, 19) !important; /* Above all Variable */
    --bg-secondary : var(--bg-primary-) !important;
    --background-tertiary : var(--bg-primary-) !important;
    --bg-secondary-alt : var(--bg-primary-) !important;
    --channeltextarea-background : var(--bg-primary-) !important;
    --button-secondary-background : rgb(15, 49, 94) !important;
    --side-bar-background : var(--bg-primary-) !important;
    --bg-base-primary : var(--bg-primary-) !important;
    --bg-base-secondary : var(--bg-primary-) !important;
    --modal-background : var(--bg-primary-) !important;

    /* Extra Settings */

    --text-container-background : #131313;
    --background-mentioned : rgba(44, 16, 70, 0.452);
    --background-mentioned-hover : rgba(44, 16, 70, 0.452);
    --info-warning-foreground : linear-gradient(60deg, rgba(126, 18, 214, 0.733), rgba(216, 39, 178, 0.705));
    --link-color : rgb(241, 75, 53); /* Also applies for Bold Elements. */
    --font-family : system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}
